@use '../../styles/fonts';
@use '../../styles/colors';

.calcForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1440px;
  background: #FFFFFF;

  @media (max-width: 1439px) {
    width: 1120px;
  } 
  @media (max-width: 1119px) {
    width: 768px;
    // padding: 0 36px 0 36px;
  }
  @media (max-width: 767px) {
    width: 100vw;
  }
}

.headerText {
  @include fonts.fontNekst-s50_lh90;
  color: colors.$black-text;

  @media (max-width: 1119px) {
    @include fonts.fontNekst-s30_lh36
  }
  @media (max-width: 767px) {
    @include fonts.fontNekst-s20_lh24
  }

}
