@use '../../styles/fonts';
@use '../../styles/colors';

.dataOutput {
  display: flex;
  gap: 26px;
  @media (max-width: 1119px) {
    gap: 10px;
    flex-direction: column;
  }
}

.outputWrapper {
  display: flex;
  // gap: 26px;
  justify-content: space-around;
  @media (max-width: 1119px) {
    // gap: 10px;
  }
}

.contractPrice {
  display: flex;
  flex-direction: column;
  max-width: 427px;

  @media (max-width: 1439px) {
    width: 320px;
  }

  @media (max-width: 1119px) {
    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    width: 45vw;
  }

  & p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: colors.$text-color;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  & input {
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    @include fonts.fontNekst-s50_lh90;
    color: colors.$black_text;

    @media (max-width: 767px) {
      @include fonts.fontNekst-s30_lh36
    }

    @media (max-width: 425px) {
      @include fonts.fontNekst-s20_lh24
    }
  }
}

.monthPay {
  display: flex;
  flex-direction: column;
  width: 427px;

  @media (max-width: 1439px) {
    width: 320px;
  }

  @media (max-width: 1119px) {
    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    width: 45vw;
  }

  & p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: colors.$text-color;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  & input {
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    @include fonts.fontNekst-s50_lh90;
    color: colors.$black_text;
    
    @media (max-width: 767px) {
      @include fonts.fontNekst-s30_lh36
    }

    @media (max-width: 425px) {
      @include fonts.fontNekst-s20_lh24
    }
  }
}

.submit {
  width: 426px;
  height: 68px;

  @include fonts.fontNekst-s30_lh36;

  border-radius: 40px;
  color: colors.$background-color;
  background: colors.$brand-color;

  @media (max-width: 1439px) {
    width: 320px;
  }

  @media (max-width: 1190px) {
    align-self: center  ;
  }

  @media (max-width: 767px) {
    width: 280px;
    height: 60px;
    @include fonts.fontNekst-s20_lh24
  }

  &:hover {
    background: #111111;
  }
}