@use '../../styles/colors';

.dataOutput {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 213px;

  @media (max-width: 1119px) {
    margin-top: 37px;
    margin-bottom: 156px;
  }

  @media (max-width: 767px) {
    margin-top: 16px;
    margin-bottom: 64px;
  }
}

.submit {
  width: 426px;
  height: 68px;

  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;

  border-radius: 40px;
  color: colors.$background-color;
  background: colors.$brand-color;

  @media (max-width: 1439px) {
    width: 320px;
  }
  @media (max-width: 767px) {
    width: 280px;
    height: 60px;
    font-size: 22px;
    line-height: 20px;
  }

  &:hover {
    background: #111111;
  }
}

.contractPrice {
  display: flex;
  flex-direction: column;
  // margin-right: 28px;
  width: 427px;

  @media (max-width: 1439px) {
    width: 320px;
    // margin-right: 28px;
  }

  @media (max-width: 1119px) {
    width: 320px;
    // margin-right: 28px;
    margin-bottom: 44px;
  }

  @media (max-width: 767px) {
    width: 167px;
    margin-bottom: 29px;
  }


  & p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: colors.$text-color;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  & input {
    
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: colors.$black_text;

    @media (max-width: 767px) {
      width: 167px;
      font-size: 22px;
      line-height: 20px;
    }
  }
}

.monthPay {
  display: flex;
  flex-direction: column;
  width: 427px;
  // margin-right: 26px;

  @media (max-width: 1439px) {
    width: 320px;
    // margin-right: 93px;
  }

  @media (max-width: 1119px) {
    // margin-right: 0;
    width: 332px;
    margin-bottom: 44px;
  }

  @media (max-width: 767px) {
    // margin-right: 0;
    width: 167px;
    height: 41px;
    margin-bottom: 32px;
  }

  & p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: colors.$text-color;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  & input {
    // width: 260px;
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: colors.$black_text;
    
    @media (max-width: 767px) {
      width: 167px;
      font-size: 22px;
      line-height: 20px;
    }
  }
}

.positionWrapper {
  position: relative;
}
